<div style="width: 500px; height: 300px; border: 1px solid red;">
  <div jui:draggable scroll="true" scrollSensitivity="100" scrollSpeed="100" revert="true" helper="'clone'" style="width: 100px; height: 100px; background: #eee;">
    teste
  </div>
</div>

<input ng:model="value" ng:init="value=30" />
<div jui:progressbar value="value"></div>
<button jui:button label="'Hello'"></button>

<div jui:buttonset disabled="true">
  <input type="checkbox" id="check1" /><label for="check1">B</label>
  <input type="checkbox" id="check2" /><label for="check2">I</label>
  <input type="checkbox" id="check3" /><label for="check3">U</label>
</div>

<div jui:buttonset>
  <button jui:button label="'Hello1'"></button>
  <a jui:button label="'Hello2'"></a>
</div>
